<!DOCTYPE html>
<html>
  <header>
    <meta chartset="utf-8">
    <title>About Page</title>
  </header>
  <body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quis praesentium. Est aperiam pariatur eum facere quaerat accusamus molestiae fugiat?</p>

  {{> footer}}
  </body>
</html>