<!DOCTYPE html>
<html>
  <header>
    <meta chartset="utf-8">
    <title>Some Website</title>
  </header>
  <body>
        {{> header}}

    <p>{{screamIt welcomeMessage}}</p>

  {{> footer}}
  </body>
</html>